.colors {
    color: #F9F7F7 #DBE2EF #3F72AF #112D4E;
    color: #424874 #A6B1E1 #DCD6F7 #F4EEFF;
    color: #1B262C #0F4C75 #3282B8 #BBE1FA;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
    text-align: justify;
    list-style-type: none;
    transition: all 0.3s;
}
body{
    scroll-behavior: smooth;

}
.logo_venu {
    width: 110px;
}

.navbar {
    background-color: #e3f2fd;
}

.nav-item {
    margin-left: 10px;
}

.nav-item:hover,
.dropdown-item:hover {
    background-color: #BBE1FA;
    border-radius: 4px;
}

.active {
    background-color: #BBE1FA;
    border-radius: 4px;
}

.nav-link {
    text-align: center;
}

.navbar-collapse {
    margin: 7px 10px 0px 0px;
}

footer {
    background-color: #121212;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px 40px 0px 0px;
}

.row1 {
    display: flex;
    color: white;
}

.col11 {
    width: 40%;

}

.col11 img {
    width: 180px;
}

.col11 h2 {
    display: flex;
    place-content: center;
    padding: 80px 10px 10px 0px;
}

.col11 a {
    color: white;
}

.col12 {
    width: 30%;
    padding: 10px;
}

.col12 a {
    margin: 10px 0px 0px 20px;
    color: #909090;
}

.col13 {
    width: 30%;
    padding: 10px;
}

.col13 p {
    margin: 10px 20px 0px 20px;
    color: #909090;
}

.row2 {
    display: flex;
    color: white;
}

.col21 {
    width: 40%;
    padding: 20px 10px 10px 0px;
}

.social-links {
    display: flex;
    place-content: center;
}

.fa {
    padding: 7px;
    font-size: 20px;
    width: 35px;
    text-align: center;
    text-decoration: none;
    margin: 8px;
    border-radius: 50%;
}

.fa-facebook:hover {
    text-decoration: none;
    color: #3F72AF;
    background-color: white;
}

.fa-facebook {
    color: white;
    background-color: #3F72AF;
}

.fa-instagram {
    background: #b72329;
    color: white;
}

.fa-instagram:hover {
    background: white;
    text-decoration: none;
    color: #b72329;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}

.fa-youtube:hover {
    background: white;
    text-decoration: none;
    color: #bb0000;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-twitter:hover {
    background: white;
    text-decoration: none;
    color: #55ACEE;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-linkedin:hover {
    background-color: white;
    color: #007bb5;
    text-decoration: none;
}

.copyright {
    color: white;
    padding: 20px;
    display: flex;
    place-content: center;
}

.line {
    border-bottom: 1px solid white;
    margin-top: 10px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.copyright a {
    color: #909090;
    text-decoration: none;
}

.col22 {
    width: 30%;
    padding: 20px 10px 10px 0px;
}

.mc22 a {
    color: #909090;
    text-decoration: none;
}

.col23 {
    width: 30%;
    padding: 20px;
}

.col23 ul {
    margin: 10px 0px 0px 20px;
}

.col23 a {
    color: #909090;
}


body {
    background-color: #F4EEFF;
}

.hrow1 {
    width: 100%;
    background-color: #f9f7f7;
    padding: 15px;
}

.hrow1 h3 {
    text-align: center;
    font-size: auto;
}

.links {
    padding: 10px;

}

.links a {
    margin-left: 20px;
}

.hrow1 a {
    color: #112D4E;
    margin-left: 20px;
}

.hrow2 {
    padding: 20px;
}

.hrow2 img {
    width: 100%;
    height: 450px;
    border-radius: 5px;
}

.hrow3 {
    width: 100%;
    display: flex;
    padding: 20px;
    background-color: #5a606415;
}

.hcol31 {
    width: 70%;
    padding: 10px;
    align-self: center;
}

.hcol31 h4 {
    text-align: center;
}

.hcol32 {
    width: 30%;
    padding: 10px;
}

.hcol32 img {
    width: 100%;
    border-radius: 10px;
    object-fit: fill;
}

.hrow4 {
    width: 100%;
    display: flex;
    padding: 20px;
}

.hcol41 {
    width: 30%;
    float: left;
    background-color: #f1f1f1;
    margin: 10px;
}

.hcol41 button {
    margin: 15px;
}

.hcol41 h2 {
    background-color: #bb0000d5;
    color: white;
    text-align: center;
}

.hcol42 {
    width: 40%;
    right: 20px;
    position: absolute;
    border: #0099ff solid 2px;
    height: 300px;
}

.hcol42 marquee {
    padding: 15px;
}

.hcol42 h3 {
    background-color: #0099ff;
    color: white;
    border-bottom: #0099ff solid 2px;
    text-align: center;
}

.btn-cancel {
    background-color: #bb0000d5;
    color: white;
}

.notification-lines a :hover {
    text-decoration: underline #007bb5;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
}

.form-container input[type=text],
input[type=password] {
    width: 100%;
    padding: 10px;
    margin: 0px 0px 20px 0px;
    border: none;
}

.form-container a {
    color: #216ce7;
    font-size: 80%;
    text-align: left;
    text-decoration: none;
    margin-bottom: 6px;
}

.sign-forgot {
    display: flex;
    width: 100%;
}

.arow1 {
    display: flex;
    width: 100%;
    height: 90vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.acol11 {
    width: 70%;
    padding: 10px;
}

.acol11 h3 {
    text-align: center;
}

.acol12 {
    width: 30%;
    padding: 10px;

}

.acol11 ul {
    margin-left: 20px;
}

.acol11 li {
    list-style-type: circle;
}

.acol12 img {
    width: 100%;
}

/* contact us  */

.crow1 {
    width: 100%;
    height: fit-content;
    padding: 5px;
    margin: 10px;
}

.crow1 h2 {
    text-align: center;
}

.crow2 {
    width: 100%;
}

.ccol1 {
    width: 50%;
    padding: 10px;
}

.ccol2 {
    width: 50%;
    padding: 10px 15px;
}

.crow2 {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.ccol2row1,
.col2row2,
.ccol2row3 {
    width: 100%;
    margin: 15px 5px;
}

.ccol2row4 {
    width: 100%;
    border: 1px solid #121212;
}

.message-form-container input[type=text],
input[type=tel],
input[type=email],
textarea {
    width: 100%;
    padding: 10px;
    margin: 0px 0px 20px 0px;
    border: none;
}

.submit-btn {
    width: fit-content;
    border: none;
    padding: 5px;
    font-size: 20px;
    background-color: #55ACEE;
    color: #f1f1f1;
    border-radius: 4px;
}

/* memebers */

.titles {
    margin: 10px 0px;
}

.titles h2 {
    text-align: center;
}

.members-grid {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.scl-images {
    background-color: #ffffff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    row-gap: 5px;
}

.scl-images p {
    max-height: 5rem;
    width: 100%;
    padding: 10px;
    margin: 20px;
    text-align: center;
    color: white;
    background-color: #3f3f3fbb;
    display: flex;
    align-items: self-start;
    justify-content: center;
}

.scl-images button {
    width: fit-content;
    border: none;
    text-align: center;
    padding: 10px;
    border-radius: 3px;
    background-color: #a6b1e1;
    opacity: 0.7;
}

.scl-images button:hover {
    opacity: 1;
}

.members-grid img {
    width: 300px;
    aspect-ratio: 1;
}

.overlay {
    position: absolute;
    width: 100%;
    bottom: 49px;
    display: flex;
    align-items: center;
}

.overlay p {
    overflow: hidden;

}

@media screen and (max-width:800px) {

    footer,
    .row1,
    .row2,
    .col11,
    .col12,
    .col13,
    .col21,
    .col22,
    .col23,
    .hcol41,
    .ccol1,
    .ccol2,
    .ccol2row1,
    .ccol2row3 {
        display: block;
        width: 100%;
        height: fit-content;
        padding: 5px 10px;
    }

    .ccol2row2 {
        width: 100%;
        padding: 5px 15px;
        width: 100%;
    }

    .ccol2row4 {
        margin: 10px 20px 10px 0px;
        width: 100%;
    }

    .hcol42 {
        display: none;
    }
}



@media screen and (max-width:700px) {

    footer,
    .hrow1,
    .hrow2,
    .hrow3,
    .hrow4,
    .arow1,
    .crow1,
    .crow2 {
        display: block;
        width: 100%;
        height: fit-content;
        padding: 5px 10px;
        overflow: hidden;
        font-size: medium;
    }

    .hcol31,
    .hcol32,
    .hcol32 img,
    .acol11,
    .acol12,
    .acol12 img,
    .ccol2row4 iframe {
        height: fit-content;
        width: 100%;
    }

    .members-grid {
        padding: 10px 40px 10px 0px;
    }

}